<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AOM_ingeneering.Properties.Settings.movedbConnectionString"
            connectionString="server=localhost;user id=admin;password=admin;persistsecurityinfo=True;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>